<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <title>Spring One</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
    <h1>Каталог</h1>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Категория</th>
            <th>Наименование</th>
            <th>Цена</th>
            <th>Действие</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="p : ${products}">
            <td th:text="${p.id}"/>
            <div th:if="${p.category.name != null}">
            <td th:text="${p.category.name}"/>
            </div>
            <td th:text="${p.name}"/>
            <td>
                <b th:text="${p.price}"/>
            </td>
            <td><a class="btn btn-danger" th:href="@{'/delete/' + ${p.id}}">Удалить</a></td>
        </tr>
        </tbody>
    </table>
 <br>
    <h3>Найти продукт по Id </h3>
    <form method="POST" th:action="@{/search}">
        <input type="number" name="id">
        <button class="btn btn-outline-primary" type="submit">Найти</button>
    </form>
<br>
    <a class="btn btn-outline-primary" th:href="@{/create}">Добавить новый продукт</a>
</div>
</body>
</html>